/* GENERAL RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}


li, a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px;
}

nav, ul, li{
  height: 100%;
}

.colourless-bottom{
  margin: 2px solid white;
  border-radius: 5px;
}


/* /GENERAL RULES */




body{
  font-family: 'Roboto', sans-serif;
}


.container{
  width: 85%;
  height: 600px;
  background-color: blsssue;
  margin: 0 auto;
  position: relative;
}

/* HEADER BACKGROUND */

header{
  background-image: url('../img/background-header.png');
  background-color: rgb(8, 55, 116);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 115% 150%;
}


/* /HEADER BACKGROUND */





/* NAVIGATION BAR */

.header-navigation-bar{
  /* background-color: lightblue; */
  height: 20%;
}

.header-navigation-bar .logo{
  /* background-color: green; */
  height: 100%;
  width: 20%;
}

.header-navigation-bar .logo img{}


.header-navigation-bar .left-nav{
  /* background-color: yellow; */
  width: 50%;
  height: 100%;
}

.header-navigation-bar .right-nav{
  /* background-color: pink; */
  height: 100%;
  width: 30%;
}




/* /NAVIGATION BAR */




/* HEADLINE AND CTA */



.jumbotron{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}


.headline-cta h1{
  font-size: 50px;
  color: white;
}




/* /HEADLINE AND CTA */
